<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> 

	<mvc:default-servlet-handler/>
	
	<mvc:annotation-driven/>
	
	<!-- spring mvc 扫描包下的controller -->
	<context:component-scan base-package="com.bob.p2p.web" />
	
	<!-- 拦截器拦截未登录请求 -->
<!--	<mvc:interceptors>-->
<!--		<mvc:interceptor>-->
<!--			<mvc:mapping path="/loan/**" />-->
<!--			<mvc:exclude-mapping path="/loan/login"/>-->
<!--			<mvc:exclude-mapping path="/loan/register"/>-->
<!--			<mvc:exclude-mapping path="/loan/phoneCheck"/>-->
<!--			<mvc:exclude-mapping path="/loan/verifyCaptcha"/>-->
<!--			<mvc:exclude-mapping path="/jcaptcha/captcha"/>-->
<!--			<mvc:exclude-mapping path="/loan/loan"/>-->
<!--			<mvc:exclude-mapping path="/loan/loanInfo"/>-->
<!--			<mvc:exclude-mapping path="/loan/borrower"/>-->
<!--			<mvc:exclude-mapping path="/loan/alipayBack"/>-->
<!--			<mvc:exclude-mapping path="/loan/alipayNotify"/>-->
<!--			<mvc:exclude-mapping path="/loan/stat"/>-->
<!--			<bean class="com.bob.p2p.interceptor.LoginInterceptor" />-->
<!--		</mvc:interceptor>-->
<!--	</mvc:interceptors>-->

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
	    <property name="messageConverters">
	        <util:list id="beanList">
	            <ref bean="stringHttpMessageConverter"/>
	            <ref bean="mappingJacksonHttpMessageConverter"/>
	        </util:list>
	    </property>
	</bean>

	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
		<property name="writeAcceptCharset" value="false" />
	</bean>

	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>